body,div,ul,li{
	padding: 0px;
	margin: 0px;
}
.head22{
	background-color: #171a21;
	width: 100%;
	height: 110px;
	margin: 0px auto;
	position: fixed;
}
.head22 a img{
	padding-left: 23%;
	padding-top: 35px;
	display: inline-block;
}
.head_title22{
	font-size: 15px;
	position: absolute;
	margin-top: 51px;
	width: 250px;
	margin-left: 30px;
	display: inline-block;
}
.head_title22 a{
	padding-left: 16px;
}
.head_title22 a:link{
	color: #b8b6b4;
	cursor: pointer;
	text-decoration: none;
}
.head_title22 a:visited{
	color: #b8b6b4;
}
.head_title22 a:hover{
	color: white;
}
.dorp{
	z-index: 999;
	 position: relative;
 	 display: inline-block;
	}	
.dorp_con{
 	 display: none;
   	position: absolute;
 	 background-color: #171a21;
 	 width: 55px;
 	 height: 160px;
 	 padding-top: 10px;
 	 margin-left: 5px;
 	 border-radius: 2px;
}
.dorp:hover .dorp_con{display:block;}
.aa{
	font-size: 12px;
	line-height: 26px;
}
.anzhuang{
	height: 22px;
	color: #ffffff;
	background: #5c7e10;
	width: 80px;
	padding-bottom: 3px;
	font-size: 12px;
	display: inline-block;
	position: absolute;
	padding-left: 5px;
	margin-top: -45px;
	margin-left: 320px;
}
.denglu{
	position: absolute;
	margin-top: -62px;
	margin-left: 605px;
	height: 50px;
	width: 120px;
	font-size: 12px;
	display: block;
}




.head{
	height: 700px;
	width: 100%;
}
 video{  
		position: fixed;
        right: 0;
        min-width: 103%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -999;
        }
.head_title{
	list-style: none;
	width: 50%;
	height: 37px;
	margin-left: 22%;
	margin-top: 0px;
	background-color: #366F95;
	margin-top: 10px;
	opacity:0.9;
}
.head_title li{
	border-right: 1px #16374E solid;
	width: 10%;
	height: 37px;
	float: left;
	color: #E5EDF2;
	text-align: center;
	font-size: 13px;
	line-height: 34px;
	font-family: "Motiva Sans", Sans-serif;
}
.head_input{
	color: white;
	width: 200px;
	height: 26px;
	float: right;
	margin-top: 2px;
	margin-right: 3px;
	background-color: #316282;
	border: 2px #16374E solid;
	border-radius: 3px;
}

.head_input:hover{
	border: 2px gainsboro solid;
}
.head_span{
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 70.2%;
	margin-top: 7px;
	border-radius: 3px;
	background-color: #55A0CD;
	color: #E5EDF2;
	font-family: "Motiva Sans", Sans-serif;
	font-size: 10px;
	line-height:25px;
	padding-left: 2px;
}
.head_span:hover{
	width: 24px;
	height: 24px;
	background: url(../img/search_icon_btn_over.png);
}
.head_span:hover{
	background-color: #64B6E5;
}
.head_body{
	width: 50.3%;
	height: 450px;
	margin-left: 22%;
	margin-top: 20px;
}
.head_body_1{
	width: 65%;
	height: 440px;
	background-color: #123147;
	float: left;
	line-height: 30px;
}
.head_body_2{
	width: 32.2%;
	height: 460px;
	border: 0px yellow solid;
	background-color: #123147;
	float: left;
	margin-left: 23px;
}
.body_1_ul1{
	list-style: none;
	border: 0px red solid;
	width: 50%;
	height: 100%;
	float: left;
	line-height: 50x;
}
.li1{
	width: 89%;
	color: #FFFFFF; 
	height: 26px;
	font-size: 18px;
	font-weight: normal;
	padding-top: 20px;
	 padding-left:4%;
}
.li2{
	 height: 20px;
	width: 89%;
	color: #c6d4df;
	font-size: 15px;
	font-weight: normal;
	padding-top: 15px;
	 padding-left:4%;
}
.li3{
	width: 89%;
	color: #c6d4df;
	height: 70px;
	font-size: 14px;
	font-weight: normal;
	padding-top: 15px;
	 padding-left:4%;
}
.li4{
	width: 89%;
	color: #c6d4df;
	height: 70px;
	 line-height: 35px;
	font-size: 13px;
	font-weight: normal;
	 padding-left:4%;
}
.li6{
	width: 89%;
	color: #c6d4df;
	height: 15px;
	font-size: 13px;
	font-weight: normal;
	padding-top: 25px;
	 padding-left:4%;
	 line-height: 25px;
}
.li5{
	color: #67c1f5;
	background-color: #24526C;
	width: 65px;
	height: 30px;
	margin-top: 90px;
	text-align: center;
	padding-top: 4px;
	border-radius: 3px;
	margin-left: 4%;
	line-height: 26px;
	cursor: pointer;
}
.li5 a{
	text-decoration: none;
	color:#67c1f5 ;
	display: inline-block;
	height: 33px;
	width: 58px;
}
.li5:hover{
	background: #67C1F5;
}
.body_1_ul1 li input{
	width: 89%;
	height: 35px;
	border: 1px #000 solid;
	background-color: #0F2A3C;
	border-radius: 4px;
	margin-top: 10px;
	box-shadow: #E5EDF2 0px 1px 1px;
	color: white;
}
.li5 a:hover{
	background: rgba( 103, 193, 245, 0.2 );
	color: #FFFFFF;
}
.body_1_ul2{
	list-style: none;
	border: 0px red solid;
	width: 49.5%;
	height: 400px;
	float: right;
}
.li7{
	margin-top: 5px;
	width: 89%;
	color: #FFFFFF; 
	height: 26px;
	font-size: 18px;
	font-weight: normal;
	padding-top: 20px;
	 padding-left:4%;
}
.li8{
	height: 25px;
	width: 89%;
	color: #c6d4df;
	font-size: 15px;
	line-height: 25px;
	font-weight: normal;
	padding-top: 15px;
	 padding-left:4%;
}
.head_div{
	color: #67c1f5;
	background-color: #24526C;
	width: 95px;
	height: 30px;
	margin-top: 235px;
	text-align: center;
	padding-top: 4px;
	border-radius: 4px;
	margin-left: 4%;
	cursor: pointer;
}
.head_div:hover{
	background: #66c0f4;
}
.nihao999{
	color: #67c1f5;
	text-decoration: none;
}
.nihao999:hover{
	color: white;
}
.head_body_2_div{
	width: 80%;
	height: 35px;
	color: #67c1f5;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 6px;
}
.body_2_ul{
	width: 78%;
	height: 35%;
}
.body_2_ul_li{
	list-style-position: inside;
	list-style-type: square;
	line-height: 28px;
	color: #c6d4df;
	font-size: 12px;
	margin-left: 15px;
}
.head_ul{
	list-style: none;
	width: 100%;
	height: 30px;
}
.head_ul_1{
	float: left;
	color: #FFFFFF;
	font-size: 12px;
	width: 50%;
}
.head_ul_1:hover{
	color: #66c0f4;
	cursor: pointer;
}
.head_ul_2{
	float: right;
	color: #FFFFFF;
	font-size: 12px;
	width: 32%;
	margin-top: 10px;
}
.head_ul_2:hover{
	color: #66c0f4;
	cursor: pointer;
}
.nihao2{
	 position: relative;
 	 display: inline-block;
 	 cursor: pointer;
 	width: 107px;
	}	
.nihao2:hover{
	color: #000;
	background:#DFE7ED ;
	width:107px;
	transition: 1s all;
}
.nihao3{
 	 display: none;
   	position: absolute;
 	 width: 125px;
 	 height: 170px;
 	 background-color: #DFE7ED;
 	 color: #212d3d;
 	 line-height: 30px;
 	 margin-left: -1px;
 	 border-radius: 2px;
 	 font-size: 13px;
 	 box-shadow: black 1px -1px 14px;
}
.nihao2:hover .nihao3{display:block;}
.nihao3 p:hover{
	background: #212d3d;
	color: #FFFFFF;
	height: 30px;
	width: 100px;
	margin: auto;
	border-radius: 4px;
	transition: 0.5s all;
}

.nihao4{
	 position: relative;
 	 display: inline-block;
 	 cursor: pointer;
	}	
.nihao4:hover{
	color: #000000;
	background:#DFE7ED;
	width:97px;
	transition: 0.5s all;
	}
.nihao5{
 	 display: none;
   	position: absolute;
 	 width: 130px;
 	 height: 700px;
 	 background-color: #DFE7ED;
 	 color: #212d3d;
 	 line-height: 30px;
 	 margin-top: -1px;
 	 border-radius: 2px;
 	 font-size: 13px;
 	 text-align: left;
 	 padding-left: 10px;
 	 box-shadow: black 1px -1px 14px;
 
}
.nihao4:hover .nihao5{display:block;}
.nihao5 p:hover{
	background: #212d3d;
	color: #FFFFFF;
	height: 30px;
	width: 130px;
	border-radius: 4px;
	transition: 0.5s all;
	}

.nihao7{
 	 display: inline-block;
 	 cursor: pointer;
 	width: 107px;
 	margin-left: -5px;
	}	
.nihao7:hover{
	color: #000;
	background:#DFE7ED ;
	width:103px;
	transition: 0.5s all;
}
.nihao8{
 	 display: none;
   	position: absolute;
 	 width: 125px;
 	 height: 305px;
 	 background-color: #DFE7ED;
 	 color: #212d3d;
 	 line-height: 30px;
 	 margin-left: -1px;
 	 border-radius: 2px;
 	 font-size: 13px;
 	 box-shadow: black 1px -1px 14px;
 	 text-align: left;
 	 padding-left: 10px;
}
.nihao7:hover .nihao8{display:block;}
.nihao8 p:hover{
	background: #212d3d;
	color: #FFFFFF;
	height: 30px;
	width: 100px;
	border-radius: 4px;
	transition: 1s all;
}
.nihao11:hover{
	background: #DFE7ED;
	transition: 0.5s all;
	color: #000000;
	cursor: pointer;	
}

.nihao44{
	 position: relative;
 	 display: inline-block;
 	 cursor: pointer;
	}	
.nihao44:hover{
	color: #000000;
	background:#DFE7ED;
	width:108px;
	transition: 0.5s all;
	}
.nihao55{
 	 display: none;
   	position: absolute;
 	 width: 110px;
 	 height: 670px;
 	 background-color: #DFE7ED;
 	 color: #212d3d;
 	 line-height: 30px;
 	 margin-top: -1px;
 	 border-radius: 2px;
 	 font-size: 13px;
 	 padding-left: 10px;
 	 box-shadow: black 1px -1px 14px;
 
}
.nihao44:hover .nihao55{display:block;}
.nihao55 p:hover{
	background: #212d3d;
	color: #FFFFFF;
	height: 30px;
	width: 110px;
	border-radius: 4px;
	transition: 0.5s all;
	}
	




#dixia{
	width: 100%;
	height: 175px;
	position: relative;
	margin-top: 19px;
	background-color: #121F2B;
}
.xia1{
	height: 12px;
	border-bottom: 1px solid #29363D;
	width: 57%;
	padding-top: 5px;
	margin: 0px auto;
}
.xia2{
	width: 56%;
	height: 57px;
	margin: 0px auto;
	border-bottom: 1px solid #29363D;
	cursor: pointer;
	margin-top: -6px;
}
.xia3{
	width: 56%;
	height: 48px;
	padding-top: 12px;
	margin: 0px auto;
	border-bottom: 1px solid #29363D;
}
.xia1_1{
	width: 100px;
	height: 24px;
	background-color: #223E51;
	font-size: 12px;
	color: #67c1f5;
	float: left;
	text-align: center;
	font-family: 'Arial, Helvetica, sans-serif';
	padding-top: 4px;
	margin-top: 14px;
	border-radius: 3px;
}
.xia1_1:hover{
	background-color: #67c1f5;
	color: #FFFFFF;
}
.xia1_2{
	width: 100px;
	height: 24px;
	background-color: #223E51;
	font-size: 12px;
	color: #67c1f5;
	float: left;
	text-align: center;
	font-family: 'Arial, Helvetica, sans-serif';
	padding-top: 4px;
	margin-top: 14px;
	border-radius: 3px;
	margin-left: 10px;
}
.xia1_2:hover{
	background-color: #67c1f5;
	color: #FFFFFF;
}
.xia1_3{
	width: 71px;
	height: 24px;
	background-color: #223E51;
	font-size: 12px;
	color: #67c1f5;
	float: left;
	text-align: center;
	font-family: 'Arial, Helvetica, sans-serif';
	padding-top: 4px;
	margin-top: 14px;
	border-radius: 3px;
	margin-left: 10px;
}
.xia1_3:hover{
	background-color: #67c1f5;
	color: #FFFFFF;
}
.xia1_4{
	width: 101px;
	height: 24px;
	background-color: #223E51;
	font-size: 13px;
	color: #67c1f5;
	float: left;
	text-align: center;
	font-family: 'Arial, Helvetica, sans-serif';
	padding-top: 4px;
	margin-top: 14px;
	border-radius: 3px;
	margin-left: 10px;
}
.xia1_4:hover{
	background-color: #67c1f5;
	color: #FFFFFF;
}
.xia3_1{
	width: 90px;
	padding-top: 15px;
	float: left;
}
.xia3_2{
	width: 900px;
	color: #8F98A0;
	font-size: 12px;
	line-height: 16px;
	background-size: 100px;
	padding-left: 100px;
	position: absolute;
	margin-top: -35px;
	background: url(../img/logo_steam_footer.png)890px 0px no-repeat;
	background-size: 105px;
}
.xia3_2_1 label{
	color: #E5E4DC;
	cursor: pointer;
}
.xia3_2_1 label:hover{
	color: #FFFFFF;
}
.xia3_3{
	position: absolute;
	left: 79%;
	top: 123px;
}
.xiaoul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	width: 722px;
	color: #E5E4DC;
	font-size: 13px;
	font-family: '"Motiva Sans", Sans-serif';
	margin-left: 22%;
	margin-top: 15px;
}
.xiaoul li{
	float: left;
}
/*框架*/
iframe{
	border: none;position: relative;top: 0px;left: 0px;
}
/*精选和推荐*/
#jxhtj+div{
	height: 380px;
	background-color: rgba(23,26,33,0.7);
}
#jxhtj+div .jt{
	top: 145px;
}